<form method="post" action="/post">
  <div class="mb-3">
    <label for="exampleInputTitle" class="form-label">Un titre</label>
    <input name="titre" type="text" class="form-control" id="exampleInputTitle">
  </div>
  <div class="mb-3">
    <label for="exampleInputContent" class="form-label">Votre message</label>
    <input name="contenu" type="text" class="form-control" id="exampleInputContent">
  </div>
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Votre nom (ou prénom, ou pseudo ?)</label>
    <input name="autheur" type="text" class="form-control" id="exampleInputName">
  </div>
  <button type="submit" class="btn btn-primary">Poster</button>
</form>